body {
    background-image: url("blog-background.png"); /* Replace with your image filename */
    background-repeat: no-repeat; /* Prevent repeating the image */
    background-position: top left; /* Start image at top left corner */
    background-size: auto auto; /* Maintain aspect ratio*/
    background-attachment: fixed;
  }  

  @font-face {
    font-family: myFont;
    src: url(Cat\ Comic.ttf);
  }

  .chess-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: myFont;
    font-size: 85px;
    margin-top: 50px;
  }

  .chess-elo {
    margin-top: 10px;
    display: flex; /* Wrap content in a flex container */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    margin-top: 100px;
    font-family: myFont;
    color: white;
  }

  /* buttons - start here */

  .button-container {
    /* display: flex; */
    justify-content: space-between;
    font-family: myFont;
    /* overflow: hidden; */
  }
  .chess-button {
    height: 170px;
    width: 450px;
    margin: 50px 20px;
    font-family: myFont;
    font-size: 50px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
  }
  .chess-button p {
    font-size: 20px;
    color: #666;
  }
  .chess-button:hover{
    background-color: #eeeeee;
    border: 10px solid greenyellow;
    transform: scale(1.1);
  }

 